@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Inter:wght@300;400;500;600;700&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #FAFAFA;
  color: #1A1A1A;
}

.logo-font {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1px;
}

/* Full Screen Menu */
.menu-fullscreen {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.menu-fullscreen.open {
  opacity: 1;
  pointer-events: auto;
}

.more-btn {
  transition: all 0.3s ease;
}

.more-btn:hover {
  background: #FECB00;
  color: #0F2145;
}
.menuBtn {
  transition: all 0.3s ease;
}

.menuBtn:hover {
  background: #0F2145;
}

.menuBtn:hover div {
  color: #FECB00;
}